:root{
    --color01: #444B54;
    --color02: #8199A3;
    --color03: #B5AFA2;
    --color04: #E1B493;
    --color05: #F7D6B5;
    --font01:  'Girassol', cursive;
    --font02:  'Poppins', sans-serif;
    --font03:  'Fira Code', monospace;
}