.main-time{
    padding: 40px;
    background-color: var(--color03);
}
.w50{
    width: 50%;
    padding: 0 2%;
}
.span{
    font-family: var(--font03);
    font-weight: 500;
    display: block;
    font-size: 0.8em;
}
.photo{
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
}
.inlineflex{
    display: inline-flex;
    align-items: center;
    
}
.-titletime{
    font-size: 2.3em;
}
.-w100{
	display: flex;
	width: 100%;
  
}
.-ptime{
    max-width: 600px;
    padding: 0;
}
.main-time .container{
    max-width: 1300px;
}
