.main-para{
    font-size: 1.2em;
    line-height: 28px;
    text-align: justify;
    padding: 0 2%;
}
.-p{
    color: var(--color02);
    font-weight: bold;
}
.-pcolor{
    color: #fff;
    font-family: var(--font02);
}