.menu-mobile{
    margin-top: 15px;
    display: none;
    top: 10px;
    background-image: url('../../img/menu-mobile.png');
    background-size: 100% 100%;
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.menu-mobile .ul{
    width: 100%;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999;
	text-align: center;
    background-color: var(--color05);
    
}
.menu-mobile .ul .li{
    color: #000;
    margin-bottom: 8px;
}
.menu-mobile .ul .li:hover{
    color: #504f4f;
}
